@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative z-1 font-satoshi text-base font-normal text-body;
  }
}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }

  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}


.map-btn .jvm-zoom-btn {
  @apply flex items-center justify-center w-7.5 h-7.5 rounded border border-stroke dark:border-strokedark hover:border-primary dark:hover:border-primary bg-white hover:bg-primary text-body hover:text-white dark:text-bodydark dark:hover:text-white text-2xl leading-none px-0 pt-0 pb-0.5 font-bold;
}

.mapOne .jvm-zoom-btn {
  @apply left-auto top-auto bottom-0;
}

.mapOne .jvm-zoom-btn.jvm-zoomin {
  @apply right-7.5;
}

.mapOne .jvm-zoom-btn.jvm-zoomout {
  @apply right-0;
}

.mapTwo .jvm-zoom-btn {
  @apply top-auto bottom-0;
}

.mapTwo .jvm-zoom-btn.jvm-zoomin {
  @apply left-0;
}

.mapTwo .jvm-zoom-btn.jvm-zoomout {
  @apply left-7.5;
}

.taskCheckbox:checked~.box span {
  @apply opacity-100;
}

.taskCheckbox:checked~p {
  @apply line-through;
}

.taskCheckbox:checked~.box {
  @apply bg-primary border-primary dark:border-primary;
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-calendar.svg);
}

.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-arrow-down.svg);
}

[x-cloak] {
  display: none !important;
}